In [1]:
import pandas as pd
import sqlite3

In [2]:
!pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.4.1-py3-none-any.whl (21 kB)
Collecting prettytable<1
  Downloading prettytable-0.7.2.zip (28 kB)
Requirement already satisfied: six in c:\users\uttam singh\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\uttam singh\anaconda3\lib\site-packages (from ipython-sql) (1.4.22)
Requirement already satisfied: ipython>=1.0 in c:\users\uttam singh\anaconda3\lib\site-packages (from ipython-sql) (7.29.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\uttam singh\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Collecting sqlparse
  Downloading sqlparse-0.4.2-py3-none-any.whl (42 kB)
Requirement already satisfied: setuptools>=18.5 in c:\users\uttam singh\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (58.0.4)
Requirement already satisfied: decorator in c:\users\uttam singh\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: pickleshare in c:\users\uttam singh\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: pygments in c:\users\uttam singh\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.10.0)
Requirement already satisfied: matplotlib-inline in c:\users\uttam singh\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\uttam singh\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: traitlets>=4.2 in c:\users\uttam singh\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: colorama in c:\users\uttam singh\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: backcall in c:\users\uttam singh\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: jedi>=0.16 in c:\users\uttam singh\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\uttam singh\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.2)
Requirement already satisfied: wcwidth in c:\users\uttam singh\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\uttam singh\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.1)
Building wheels for collected packages: prettytable
  Building wheel for prettytable (setup.py): started
  Building wheel for prettytable (setup.py): finished with status 'done'
  Created wheel for prettytable: filename=prettytable-0.7.2-py3-none-any.whl size=13714 sha256=ed8709eab4888d9a47a8c043bd42233a2c8ee9abc9c24896a15e9f043327d833
  Stored in directory: c:\users\uttam singh\appdata\local\pip\cache\wheels\75\f7\28\77a076f1fa8cbeda61aca712815d04d7a32435f04a26a2dd7b
Successfully built prettytable
Installing collected packages: sqlparse, prettytable, ipython-sql
Successfully installed ipython-sql-0.4.1 prettytable-0.7.2 sqlparse-0.4.2

In [6]:
df=pd.DataFrame({'name': ['juan','vactoria','marry'],
             'age':[23,34,43],
             'city':['miam','buenos aires','sentiago']})

In [7]:
df

       name  age          city
0      juan   23          miam
1  vactoria   34  buenos aires
2     marry   43      sentiago

In [9]:
cnn= sqlite3.connect('jupyter_sql_tutorial.db')

In [10]:
df.to_sql('people',cnn)

In [11]:
%load_ext sql

In [12]:
%sql sqlite:///jupyter_sql_tutorial.db

In [15]:
%%sql

SELECT *
FROM people;

 * sqlite:///jupyter_sql_tutorial.db
Done.

[(0, 'juan', 23, 'miam'),
 (1, 'vactoria', 34, 'buenos aires'),
 (2, 'marry', 43, 'sentiago')]

In [18]:
%%sql

select count(*)
from people;

 * sqlite:///jupyter_sql_tutorial.db
Done.

[(3,)]

In [20]:
%%sql

select sum(age) as 'age_sum'
from people

 * sqlite:///jupyter_sql_tutorial.db
Done.

[(100,)]